body {
    background-color: #2a4ecd;
}

.row {
    display: table-row;
    height: 9em;
}

.row-side {
    display: table-row;
    height: 4.5em;
}

p.residents {
    position: absolute;
    text-align: center;
}

.first {
    background-color: #4dc0b5;
}

.second {
    background-color: #ff49ca;
}

p.square-name {
    font-size: 11px;
}

.left-column {
    background-color: green;
}

.players {
    text-align: left;
}

.cell {
    outline: 1px solid black;
    background-color: white;
    display: table-cell;
    width: 6em!important;
    height: 9em;
    text-align: center;
}

.cell-corner {
    outline: 1px solid black;
    background-color: white;
    display: table-cell;
    width: 10em!important;
    height: 9em;
    text-align: center;
}

.cell-side {
    outline: 1px solid black;
    background-color: white;
    display: table-cell;
    width: 160px!important;
    height: 72px;
    text-align: center;
}

.cell-middle {
    background-color: transparent;
    display: table-cell;
    width: 54em!important;
    height: 4.5em;
    text-align: center;
}

.cell-info {
    outline: 1px solid black;
    display: inline-block;
    width: 10em!important;
    text-align: center;
    margin: 10px 30px;
    border-radius: 20px;
}

.square-name {
    font-weight: bold;
    font-family: Cambria;
}

.chat-info {
    outline: 1px solid black;
    display: inline-block;
    text-align: left;
    margin: 10px 30px;
    border-radius: 20px;
    position: static;
    background-color: #2d3748;
    width: 90%!important;
    height: 27%;
    padding-top: 3%;
    color: white;
}

.cell-roll {
    padding-top: 10px;
    margin-top: 40px;
    background-color: white;
    height: 20%;
    width: 90%!important;
    display: inline-block;
}

.chat-container {
    height: 210px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.dropdown-content {
    margin-top: 1px;
    margin-left: 33px;
    padding: 5px;
    text-align: center;
    position: absolute!important;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: groove;
    border-color: black;
    border-width: 1px;
    height: 50px!important;
    width: 150px;
}

/*Tokens*/
.items {
    float: left;
    position: absolute!important;
}


. {
    display: inline;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid darkblue;
}

.Circle {
    display: inline;
    width: 40px;
    height: 40px;
    background: darkblue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#player1-info_token {
    display: inline-block;
    margin: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid darkblue;
}

#player2-info_token {
    display: inline-block;
    margin: 0;
    width: 20px;
    height: 20px;
    background: darkblue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
